<h1> YapBox </h1>
<p> A simple chat app with end-to-end encryption </p>

<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <p> Create a <i>secret code</i>:</p>
    <%= f.text_field :secret, class: 'form-control' %>
  </div>

  <%= f.submit "Generate Chat Room", class: 'btn btn-primary' %>
<% end %>
