<div id="homepage" class="homepage">
  <h1> YapBox </h1>
  <p class="intro"> A simple chat app </p>
  <%= text_field_tag :url %> 
  <br>
  <%= link_to "Create Room", '#', class: 'button', id: 'chat-room' %>
</div>
